#root {
  text-align: center;
  margin-top: 0;
  font-family: 'Atkinson Hyperlegible';

}


.amc-card{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 30px 50px;
  border-radius: 5px;
  margin-top: 50px;
  width: 75%;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.hr-amc{
  color: gray; 
  border-style: inset; 
  border-width: 0.5px; 
  margin-left: 0;
  margin-right: 0;
}

.amc-title{
  margin-bottom: 10px;
}

.amc-content{
  font-size: 19px;
}

.amc-buttons{
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-bottom: 30px;
}

.amc-dates{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 50px;
  margin-top: 19px;
}

.amc-date{
  margin: 0;
  font-size: 19px;
}
/* Hover off */
/* .amc-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */


p,h1{
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.pageContainer{
  height: 100%;
}

.navbar{
  position: -webkit-sticky; /* Safari */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  height: 64px;
  margin-top: 0;
  padding: 8px 24px 8px 24px;
  gap: 3.5em;
}

.logo-nav{
  top: 16px;
  left: 26px;
  height: 50px;
}

.banner{
  background-image: url("./assets/logocopy2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: padding-box;
  background-color: #388AD7;
  height: 400px;
  text-align: center;
}
.title{
  position: relative;
  top: 50%;

  font-size: 100px;
}
/* #254024 */

.banner-container{
  padding: 30px 0;
  background-color: #388AD7;
  height: 400px;
}

.amc-section{
  background-color: #F0F0F0;
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.links{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2.5em;
  font-size: 25px;
  font-family: 'Atkinson Hyperlegible';
}
.nav-links:hover{
  cursor: pointer;
  color:#2196F3;
}

.buttons{
  margin-left: auto;
  display: flex;
  gap: 2em;
  margin-right: 10px;
}

.amc-button{
  background-color: transparent;
  border: 1px solid black;
  color: dodgerblue;
  font-family: 'Atkinson Hyperlegible';
  padding: 6px 25px;
  border-radius: 5px;
  font-size: 20px;
  border-color: #2196F3;
}

.discord-button{
  background-color: transparent;
  border: 1px solid black;
  color: #6c757d;
  font-family: 'Atkinson Hyperlegible';
  padding: 6px 25px;
  border-radius: 5px;
  font-size: 20px;
  border-color: #6c757d;
  
}

.amc-button:hover{
  background: #2196F3;
  color: white;
  cursor: pointer;

}

.discord-button:hover{
  background: #6c757d;
  color: white;
  cursor: pointer;

}